/* YOUR CSS GOES HERE */
body {
	width: 640;
	padding: 20px 60px;
	font-size: 18px;
	color: #111;
}
h1,
h2,
h3 {
	font-family: arial, sans-serif;
}
h1 {
	text-transform: uppercase;
	font-size: 40px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size: 20px;
}
img {
	width: 100%;
}
blockquote {
	background-color: #dddddd; 
	width: 100%;
	margin: 0;
	line-height: 1.4em;
	padding: 10px 10px 20px 10px;
}
a:link, 
a:visited {
	color: #0074d9;
}