html {
  font-family: $copy-font;
  font-size: $font-size-base;
  background-color: $silver;
  line-height: $font-size-base * 1.5;
}
body {
  margin: 0;
  width: 100%;
}
h1,
h2,
h3 {
  font-family: $header-font;
}
h1 {
  font-size: $header2-font-size;
  text-align: left;
  margin: 10px 0;
  text-align: center;
}
//menu style
nav li {
  background-color: $olive;
  display: block;
  padding: 5px 0;
  text-align: center;
  margin-bottom: 2px;
}
nav li:first-of-type {
  margin-top: 2px;
}
nav li:last-of-type {
  margin-bottom: 0;
}
nav li a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: $white;
}
nav a:hover {
  color: $gray;
}
nav a:active {
  color: $silver;
  text-decoration: line-through;
}
.menu-controller-label {
  background-color: $olive;
  color: $white;
  display: block;
  font-family: $header-font;
  font-size: $header2-font-size;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}
.menu-controller {
    display: none;
    visibility: hidden;
}
.dropdown {
    ul {
      font-family: $header-font;
      font-size: $copy-font;
      margin-top: 0;
      max-height: 0;
      overflow: hidden;
      transition: max-height 1s ease;
    }
    .menu-controller:checked ~ ul {
      max-height: 1000px;
    }
}

// Assignment Notes
// ~ tilda grabs any elements sibling
