//colors
$olive: #3d9970;
$white: #fff;
$gray: #aaa;
$black: #111;
$silver: #ddd;

//google fonts
$copy-font: 'Roboto', sans-serif;
$header-font: 'Palanquin Dark', sans-serif;

//Type rules
$font-size-base: 16px;
$header1-font-size: 162.5%; //26px
$header2-font-size: 137.5%; //22px
$header3-font-size: 125%; //20px
$line-height: 1.5rem;
