.three {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	width: 300px;
	line-height: 150%;
	text-align: justify;
}
.six {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	width: 600px;
	line-height: 165%;

}
.tensixty {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 24px;
	width: 1060px;
	line-height: 145%;
	text-align: justify;
}